<!DOCTYPE html>
<html lang="en">

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        {{> header }}
        <p>Use this site to get about</p>
    </div>
    <p>This site was creted by me! it uses mapbox and weatherstack.com</p>
    {{> footer}}

</body>

</html>